{% extends 'base.html.twig' %}

{% block body_id 'manager_index' %}

{% block main %}

    <h1>Synthèse de résultats</h1>
    <h2>{{ student.fullName }}</h2>

    {% include '_academic_transcript.html.twig' with { 'student': student, 'purpose': purpose } %}

{% endblock %}

{% block sidebar %}
    <div class="section">
        <a class="btn btn-lg btn-block btn-success" href="{{ path('student_send_academic_transcript', { id: student.id}) }}">Envoyer</a>
    </div>
    {{ parent() }}
{% endblock %}
